<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/base.css'/>
    {{{block 'css'}}}
</head>
<body>
{{> navs}}

{{{body}}}

<script src="/js/jquery.js"></script>

{{{block 'jquery'}}}
</body>
</html>
