<div class="wp usersbox">
    <a href="javascript:;" class="addusers"></a>
    <ul class="clearfix">
        <li class="li-user add-user">
            <a href="javascript:;"></a>
        </li>
        <li class="li-user bor3">
            <span class="Uname">王志刚</span>
            <span>zhigang@mgtv.com</span>
            <span>角色：<b>管理员</b></span>
            <span class="Uoperate">
                 <a class="del Cbtn bor3" href="javascript:;">删除</a>
                <a class="Cbtn bor3" href="javascript:;">编辑</a>
            </span>
        </li>
        <li class="li-user bor3">
            <span class="Uname">王志刚</span>
            <span>zhigang@mgtv.com</span>
            <span>角色：<b>管理员</b></span>
            <span class="Uoperate">
                 <a class="del Cbtn bor3" href="javascript:;">删除</a>
                <a class="Cbtn bor3" href="javascript:;">编辑</a>
            </span>
        </li>
        <li class="li-user bor3">
            <span class="Uname">王志刚</span>
            <span>zhigang@mgtv.com</span>
            <span>角色：<b>管理员</b></span>
            <span class="Uoperate">
                 <a class="del Cbtn bor3" href="javascript:;">删除</a>
                <a class="Cbtn bor3" href="javascript:;">编辑</a>
            </span>
        </li>
    </ul>

</div>



<div class="addbox forusers">
    <form action="forusers" method="post" enctype="multipart/form-data">
        {{> add}}
    </form>
</div>


{{#extend 'css'}}
    <link rel='stylesheet' href='/css/moudle/users.css'/>
{{/extend}}